{% extends 'app/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}


{% block banner-slider %}

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride = "carousel" aria-current="true">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
      <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/TsbImg/5.jpg' %}" class="d-block w-100" alt="First slide"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/TsbImg/6.jpg' %}"  class="d-block w-100" alt="Second slide"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/TsbImg/7.jpg' %}" class="d-block w-100" alt="Third slide"/>
      </div>
    </div>
    <a class="carousel-control-prev" data-target="#carouselExampleSlidesOnly" href="#carouselExampleSlidesOnly" role="button" datas-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-target="#carouselExampleSlidesOnly" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
   
  </div>
{% endblock banner-slider %}

{% block information %}
  <!-- Category Start -->
  <div class="container-xxl py-1">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-1">Categories</h1>
        <p>We provide multiple choices for your ease and comfort vacation plans. Explore a variety of options tailored to suit your preferences and needs.</p>
      </div>
    </div>
  </div>
  <div class="container col-11">
    
    
    <br/> <br/>
    <div class="row">
      <div class="col-md-4 ">
        <div class="card border-bottom shadow rounded" style="width: 100%; height: 100%;">
          <img src="{% static 'app/images/TsbImg/5.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center rounded">
              <h5 class="card-title">Resorts</h5>
              <p class="card-text">The TSB is a travel agency that provides the best travel services to its customers.</p>
              <a href="{% url 'mainCategory' 'RE' %}" class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="card border-bottom shadow rounded" style="width: 100%; height: 100%;">
          <img src="{% static 'app/images/TsbImg/6.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Waterparks</h5>
              <p class="card-text">The TSB is a travel agency that provides the best travel services to its customers.</p>
              <a href="{% url 'mainCategory' 'WP' %}" class="btn btn-primary">Know More</a>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-bottom shadow rounded" style="width: 100%; height: 100%;">
          <img src="{% static 'app/images/TsbImg/7.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Destination Packages</h5>
            <p class="card-text">The TSB is a travel agency that provides the best travel services to its customers.</p>
            <a href="{% url 'mainCategory' 'DP' %}" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card border-bottom shadow rounded" style="width: 100%; height: 100%;">
          <img src="{% static 'app/images/TsbImg/5.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Dhaba</h5>
            <p class="card-text">The TSB is a travel agency that provides the best travel services to its customers.</p>
            <a href="{% url 'mainCategory' 'DB' %}" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-bottom shadow rounded" style="width: 100%; height: 100%;">
          <img src="{% static 'app/images/TsbImg/6.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Villas</h5>
            <p class="card-text">The TSB is a travel agency that provides the best travel services to its customers.</p>
            <a href="{% url 'mainCategory' 'VI' %}" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-bottom shadow rounded" style="width: 100%; height: 100%;">
          <img src="{% static 'app/images/TsbImg/7.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Game On</h5>
            <p class="card-text">The TSB is a travel agency that provides the best travel services to its customers.</p>
            <a href="{% url 'mainCategory' 'GO' %}" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

<!-- Category End -->
{% endblock information %}

{% block main-content %}
    <!-- About Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="row g-5 align-items-center">
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                  <div class="about-img position-relative overflow-hidden p-5 pe-0">
                      <img class="img-fluid w-100" src="{% static 'app/images/TsbImg/temp3.jpg' %}">
                  </div>
              </div>
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">Welcome to TSB - Your Trusted Travel Partner</h1>
                    <p class="mb-4">At TSB, we are dedicated to providing you with the best travel experiences. Whether you're looking for a relaxing resort, an exciting waterpark, or a luxurious villa, we have something for everyone. Explore our categories and find the perfect destination for your next vacation.</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Best Coupons Deals</p>
                  <p><i class="fa fa-check text-primary me-3"></i>24x7 Support</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Easy Payment Methods</p>
                  <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'about' %}">Read More</a>
              </div>
          </div>
      </div>
  </div>
  <br><br>
  <!-- About End -->
  <!-- Call to Action Start -->
  <div class="container-xxl py-3 border shadow rounded" style="width: 100%; padding-left: 0; padding-right: 0;">
    <div class="container col-12">
      <div class="bg-light rounded p-1" style="border: 2px solid rgba(123, 219, 110, 0.8);">
        <div class="bg-white rounded p-4" style="border: 2px solid rgba(123, 219, 110, 0.8);">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
              <img class="img-fluid rounded w-100" src="{% static 'app/images/TsbImg/supportimg.jpg' %}" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
              <div class="mb-4">
          <h1 class="mb-3">Contact With Our Certified Agent</h1>
          <p>Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem kasd vero ipsum sit sit diam justo sed vero dolor duo.</p>
              </div>
              <a href="" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-3"></i>Make A Call</a>
              <a href="https://wa.me/7028768942/?text=NeedInformation" class="btn btn-success py-3 px-4 me-3"><i class="fa fa-whatsApp-alt aria-hidden=true me-3"></i>WhatsApp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action End -->
  <br><br>

  <!-- Infinite Logo Carousel Start -->
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
    </div>
    
  </div>
  <!-- Infinite Logo Carousel End -->


  <style>
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }
    
    .slide-track {
      animation: scroll 20s linear infinite;
      display: flex;
    } 
  </style>

{% endblock main-content %}

