{% extends 'app/base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock title %}

{% block main-content %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>password_reset_confirm</h3>
                    </div>
                    
                        <form action="" method="post" novalidate class="shadow p-5">
                            {% csrf_token %}
                            {% for fm in form %}
                                {{ fm.label_tag }}
                                {{ fm }}
                                    <div class="text-danger">
                                        {{ fm.errors }}
                                    </div><br>  
                            {% endfor %}
                            <br>
                            <div class="text-center border-top pt-3 container-fluid">
                                <input type="submit" class="btn btn-success w-100 border bottom-shadow" value="Submit">
                            </div>
                            <br>
                            

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <p class="text-danger text-center" id="message">{{ error }}</p>
                                <script>
                                    setTimeout(function() {
                                        document.getElementById('message').style.display = 'none';
                                    }, 5000);
                                </script>
                                {% endfor %}
                            {% endif %}
                        </form>
                </div>
            </div>
        </div>
    </div>

 <br>

{% endblock main-content %}
