{% extends 'app/base.html' %}
{% load static %}
{% block title %} Change reset complete {% endblock title %}

{% block main-content %}
<br><br>
    <div class="container col-lg-12 my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border-0">
                    <div class="card-body text-center bottom-shadow">
                        <h3>Password Reset completed for {{user}}</h3>
                        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="300"  class="giphy-embed" allowFullScreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock main-content %}

