{% extends 'app/base.html' %}
{% load static %}
{% block title %} Details {% endblock title %}

{% block main-content %}
<br/><br/>
<!-- About 7 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Privacy Policy</h2>
                <p class="text-secondary mb-5 text-center lead fs-9">At Go Waterpark TSB, your privacy is important to us. This policy explains how we collect, use, and protect your personal information.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <img class="img-fluid" loading="lazy" src="{% static 'app/images/product/tsb_logo.png' %}" alt="TSB Logo">
            </div>
            <div class="col-12 col-lg-6 col-xxl-6">
                <div class="row justify-content-lg-end">
                    <div class="col-12 col-lg-11">
                        <div class="about-wrapper">
                            
                            <div class="mb-4 mb-md-5">
                                <h5 class="fw-bold">Privacy Policy</h5>
                                <p><strong>Effective Date:</strong> January 2025 </p>
                                <p>At Go Waterpark TSB, your privacy is important to us. This policy explains how we collect, use, and protect your personal information.</p>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <strong>1.1 Information We Collect:</strong> Name, email, phone number, and payment information. Website usage data via cookies and analytics tools.
                                    </li>
                                    <li class="mb-3">
                                        <strong>1.2 How We Use Your Data:</strong> To process ticket purchases and send confirmations. To provide customer support. For marketing (with your consent).
                                    </li>
                                    <li class="mb-3">
                                        <strong>1.3 Data Security:</strong> We implement industry-standard measures to protect your data from unauthorized access.
                                    </li>
                                    <li class="mb-3">
                                        <strong>1.4 Sharing of Information:</strong> We do not sell or rent your data. We may share it only with trusted third-party service providers (e.g., payment gateways).
                                    </li>
                                    <li>
                                        <strong>1.5 Your Rights:</strong> You may request access to or deletion of your personal data at any time by contacting us.
                                    </li>
                                </ul>
                            </div>
                            <div class="row gy-4 mb-4 mb-md-5">
                                <div class="col-12 col-md-6">
                                    <div class="card border border-dark">
                                        <div class="card-body p-4">
                                            <h3 class="display-5 fw-bold text-success text-center mb-2">370+</h3>
                                            <p class="fw-bold text-center m-0">Qualified Experts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card border border-dark">
                                        <div class="card-body p-4">
                                            <h3 class="display-5 fw-bold text-success text-center mb-2">1Lakh+</h3>
                                            <p class="fw-bold text-center m-0">Satisfied Clients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#!" class="btn btn-success">
                                Explore
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}